* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  color: white;
  background-color: #1c1c1c;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #444;
}